<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,900italic,900,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700,300);
#header_menu li {
    float: right;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

#header_menu li a {
    text-decoration: none;
    color: white;
}
</style>
<div style="width: 100%; height: 40px; background-color: #2196F3;">
    <div layout="row" style="width: 100%; height: 100%;">
        <div layout="row" style="width:20%;padding-left: 8px;padding-top:3px;font-family: 'Oswald', sans-serif;color:white;font-size:22px;">
            ElasticTab - Elasticsearch to Excel Report
        </div>
        <div style="width:80%;">
            <ul id="header_menu" style="list-style-type:none;margin-top: 12px;">
                <li><a href="#job">Job</a></li>
                <li><a href="#report">Report</a></li>
            </ul>
        </div>
    </div>
</div>
