<md-progress-circular ng-show="loading" style="position: fixed;top: 42%;left: 45%;" md-mode="indeterminate"></md-progress-circular>
<div style="width: 100%; margin-top: 2px;">
    <div style="width: 1000px; margin: 0 auto;">
        <div style="margin-top: 10px;">
            <table ng-repeat="job in jobList track by $index" class="table table-bordered" style="margin-bottom: 0px;">
                <tbody>
                    <tr style="border-top: 3px solid #2196F3; border-bottom: 3px solid #2196F3;">
                        <td style="padding-top: 21px;">Job : {{job.name}}</td>
                        <td width="80px">
                            <md-button class="md-icon-button" ng-click="triggerJob($event,job.name)">
                                <md-progress-circular ng-show="loading" style="position: fixed;top: 42%;left: 45%;" md-mode="indeterminate"></md-progress-circular>
                                <md-tooltip md-direction="bottom"> Run Job</md-tooltip>
                                <md-icon style="color:#2196F3;" md-font-library="material-icons">whatshot</md-icon>
                            </md-button>
                        </td>
                        <td width="80px">
                            <a ng-href="#report/{{job.name}}">
                                <md-button class="md-icon-button">
                                    <md-tooltip md-direction="bottom"> Edit Job </md-tooltip>
                                    <md-icon style="color:#2196F3;" md-font-library="material-icons">edit</md-icon>
                                </md-button>
                            </a>
                        </td>
                        <td width="80px">
                            <md-button class="md-icon-button" ng-click="deleteJob($event,$index,job.name)">
                                <md-tooltip md-direction="bottom"> Delete Job</md-tooltip>
                                <md-icon style="color:#BC0C0C;" md-font-library="material-icons">remove_circle_outline</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <md-data-table-container>
                                <table md-data-table>
                                    <thead>
                                        <tr>
                                            <th name="#"></th>
                                            <th name="CRON"></th>
                                            <th name="Previous"></th>
                                            <th name="Next"></th>
                                            <th name="Enable/Disable"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="trigger in job.triggerDataList track by $index">
                                            <td ng-init="trigger.triggerStateBoolean=getTriggerState(trigger.triggerState)">{{$index+1}}</td>
                                            <td>{{trigger.cronExpression}}</td>
                                            <td>{{trigger.previousFireTime==null?"-":trigger.previousFireTime|date}}</td>
                                            <td>{{trigger.nextFireTime==null?"-":trigger.nextFireTime|date}}</td>
                                            <td>
                                                <md-switch ng-change="updateJobState($index+1,job.name,trigger.name,trigger.triggerStateBoolean)" style="margin:0px;" class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="trigger.triggerStateBoolean" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
